<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>RevAPM Platform API Documentation</title>

    <link rel="stylesheet" type="text/css" href="/css/readme.css" />

    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link href='{{hapiSwagger.endpoint}}/swaggerui/css/highlight.default.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='{{hapiSwagger.endpoint}}/swaggerui/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
    <script src="{{hapiSwagger.endpoint}}/swaggerui/lib/shred.bundle.js" type="text/javascript"></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/jquery.slideto.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/jquery.wiggle.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/handlebars-1.0.0.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/underscore-min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/backbone-min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/swagger.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/swagger-ui.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/highlight.7.3.pack.js' type='text/javascript'></script>

    {{> head}}


<script type="text/javascript">
$(function() {
  window.swaggerUi = new SwaggerUi({
    url: window.location.protocol + '//' + window.location.host + '{{hapiSwagger.endpoint}}?tags=api',
    dom_id: "swagger-ui-container",
    supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
    onComplete: function(swaggerApi, swaggerUi) {
      log("Loaded SwaggerUI")
      $('pre code').each(function(i, e) {
        hljs.highlightBlock(e)
      });
    },
    onFailure: function(data) {
      log("Unable to Load SwaggerUI");
    },
    docExpansion: "list"
  });
  var $form = $('#api_selector');
  $form.on('submit', function(e) {
    e.preventDefault();
    authenticate();
  });
  window.swaggerUi.load();
});

var apiUrl = window.location.protocol + '//' + window.location.host + '/v1';

function onAuthTypeChange() {
  var type = $('#authType').val();

  switch (type) {
    case '1':
      $('#authApiKey').hide();
      $('#authUserPass').show();
      $('#input_api_key').val('');
      break;
    case '2':
      $('#authUserPass').hide();
      $('#authApiKey').show();
      $('#input_user').val('');
      $('#input_pass').val('');
      break;
  }
}

function authenticate() {
  var type = $('#authType').val();
  window.authorizations.remove('token');
  window.authorizations.remove('apiKey');

  switch (type) {
    case '1':
      authUserPassword();
      break;
    case '2':
      authApiKey();
      break;
  }
  console.log(e);

}

function authUserPassword() {
  var data = {
    email: $('#input_user').val(),
    password: $('#input_pass').val()
  };

  if ($('#input_otp').val()) {
    data.oneTimePassword = $('#input_otp').val();
  }

  $.post(apiUrl + '/authenticate', data).done(function(response) {
    var token = 'Bearer ' + response.token;
    window.authorizations.add('token', new ApiKeyAuthorization("Authorization", token, "header"));
    showMessage('Authenticated OK', 'green');
  }).error(function(err, data) {
    console.log(err, err.data);
    switch (err.status) {
      case 401:
        showMessage('Authentication Failed!', 'red');
        break;
      case 400:
        showMessage('Please check fields!', 'red'); 
        break;
      case 403:
        $('#otp').css('display', 'flex');
        break;
    }
  });

  $('#input_otp').val('');
}

function authApiKey() {
  var key = 'X-API-KEY ' + $('#input_api_key').val();

  $.ajax({
    type: 'GET',
    url: apiUrl + '/accounts',
    beforeSend: function(xhr) {
      xhr.setRequestHeader('Authorization', key);
    },
    success: function(response) {
      window.authorizations.add('apiKey', new ApiKeyAuthorization("Authorization", key, "header"));
      showMessage('Authenticated OK', 'green');
    },
    error: function(error) {
      showMessage('Authentication Failed!', 'red');
    }
  });
}

function showMessage(message, color) {
  $('#message').css('display', 'block');
  $('#message').css('color', color);
  $('#message').html(message);
  setTimeout(function() {
    $('#message').css('display', 'none');
  }, 3000);

  $('#otp').css('display', 'none');
}
</script>

  <style>
  /* for custom page remove swaggers api info section */
  
  #api_info {
    display: none;
  }
  
  .col {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col-60 {
    width: 60%;
  }
  
  .col-20 {
    width: 20%;
  }
  
  .parameter {
    align-self: stretch;
  }
  
  .white {
    color: white;
  }
  </style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68856309-7', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>
<div class="wrapper">
<div id='header'>
  <div class="swagger-ui-wrap">
    <form id="api_selector" style="display: flex;width: 100%;" _style="margin: 0 0 0 0; width: 485px;" __onsubmit="authenticate()">
      <div class="col col-20" color="white" style=" display: flex; justify-content: center; align-items: center;">
        <label class="white"> Authenticate via</label>
        <select id="authType" class="parameter" onchange="onAuthTypeChange()">
          <option value="2">API Key</option>
          <option value="1">Username/Password</option>
        </select>
      </div>
      <div class="col col-60" style="">
        <div class="row">
          <div class='input' id='authApiKey' style="width: 100%;">
            <input placeholder="api key" id="input_api_key" name="api_key" type="text" size="30" style="width: 100%;" />
          </div>
          <div id='authUserPass' style="display: none">
            <div class='input'>
              <input placeholder="user" id="input_user" name="user" type="text" size="10" />
            </div>
            <div class='input'>
              <input placeholder="pass" id="input_pass" name="password" type="password" size="10" />
            </div>
          </div>
        </div>
        <div class="row" id="otp" style="display: none" _style="margin-left: 332px; display: none">
          <div class="white input" style="width: 220px;padding: 5px 4px;">
            Enter One Time Password:
          </div>
          <div class='input' style="display: inline-block;float: none;">
            <input placeholder="one time pass" id="input_otp" name="otp" type="password" size="10" style="font-size: 0.9em; padding: 3px;" />
          </div>
        </div>
      </div>
      <div class="col col-20" style="">
        <button type="submit" id="authBtn" class="" _onclick="authenticate()">Authenticate</button>
      </div>
    </form>
  </div>
</div>
<div id="message" style="text-align: center; display: none"></div>

    <!--
            <header>
                {{#if hapiSwagger.info.title}}
                    <h1 class="home-link"><a href="/">{{hapiSwagger.info.title}}</a></h1>
                {{else}}
                    <h1 class="home-link"><a href="/">{{{title}}}</a></h1>
                {{/if}}
            </header>
    -->

    {{#if hapiSwagger.info.description}}
    <p>{{hapiSwagger.info.description}}</p>
    {{/if}}

    <section id="readme">
        {{{markdown}}}
    </section>

    <section id="swagger">
        <h1 class="entry-title api-title">API</h1>
        <div id="message-bar" class="swagger-ui-wrap"></div>
        <div id="swagger-ui-container" class="swagger-ui-wrap"></div>


    </section>

    {{#if hapiSwagger.info.license}}
    <section id="license">
        License:
        {{#if hapiSwagger.info.licenseUrl}}<a href="{{hapiSwagger.info.licenseUrl}}">{{/if}}
        {{hapiSwagger.info.license}}
        {{#if hapiSwagger.info.licenseUrl}}</a>{{/if}}
    </section>
    {{/if}}
    <!--
            <section id="readme">
                <h1 class="entry-title">Documentation</h1>
                {{{markdown}}}
            </section>
    -->
</div>
</body>
</html>
